<!--
fsharpc - -target:library task31.fsx
set -x MONO_PATH . packages/Suave.0.29.1/lib/net40
xsp4
-->


<%@ Page Language="C#" %>
<%@ Assembly Name="FSharp.Core" %>
<%@ Assembly Name="Suave" %>
<%@ Assembly Name="task31" %>
 Import namespace="task31"

<%
    string f =  Request.QueryString["file"];
    string s = Request.QueryString["signature"];
    Response.Write(task31.handle1(f, s));
%>
